{{ template "base" .}}

{{ define "title"}}Home{{ end }}

{{ define "main" }}

<p class="mb-5 mt-5 text-center fs-1 fw-bold">Latest posts</p>
    {{ if .Posts }}
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Title</th>
            <th scope="col">Created</th>
            <th scope="col">ID</th>
            </tr>
        </thead>
        <tbody>
        {{range .Posts }}
        <tr>
            <td><a href='/post/{{.ID}}'>{{.Title}}</a></td>
            <td>{{humanDate .Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{ end }}
        </tbody>
        </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
    
{{ end }}
