{{template "base" .}}
{{define "title"}}Post #{{.Post.ID}}{{end}}
{{define "main" }}

<div class="card" style="width: 74rem;">
  <div class="card-body">
  <div class="card-header">
    <strong>{{.Post.Title}}</strong>#{{.Post.ID}}
  </div>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text"><pre><code>{{.Post.Content}}</code></pre></p>
    <a href="#" class="card-link"><time>Created: {{humanDate .Post.Created }}</time></a>
    <a href="#" class="card-link"><time>Expires: {{.Post.Expires | humanDate }}</time></a>
  </div>
</div>

{{end}}