{{template "base" .}}
{{define "title"}}Signup{{end}}
{{define "main"}}
<p class="mt-5 text-center fs-1 fw-bold">Sign Up</p>
<form class="form-horizontal" action='/user/signup' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
        <div class="row justify-content-center">
            <label class="control-label text-center">Name:</label>
            {{with .Errors.Get "name"}}
                <label class="alert alert-danger">{{.}}</label>
            {{end}}
            <div class="col-sm-5">
                <input type='text' class="form-control" name='name' value='{{.Get "name"}}'>
            </div>
        </div>
        <div class="row justify-content-center">
            <label class="control-label text-center mt-2">Email:</label>
            {{with .Errors.Get "email"}}
                <label class="alert alert-danger">{{.}}</label>
            {{end}}
            <div class="col-sm-5">
                <input type='email' class="form-control" name='email' value='{{.Get "email"}}'>
            </div>
        </div>
        <div class="row justify-content-center">
            <label class="control-label text-center mt-2">Password:</label>
            {{with .Errors.Get "password"}}
                <label class="alert alert-danger">{{.}}</label>
            {{end}}
            <div class="col-sm-5">
                <input type='password' class="form-control" name='password'>
            </div>
        </div>
        <div class="mb-5 mt-5 text-center">
            <input type='submit' class="btn btn-primary" value='Signup'>
        </div>
    {{end}}
</form>
{{end}}